root {
    --light-blue: #40c4ff;
    --teal: #b2dfdb;
    --light-blue: #0277bd;
    --amber: #ffd740;
    --purple: #aa00ff;
}

body {
    background-color: white;
    font-size: 16px;
}

h2 {
    font-size: 32px;
}

ol {
    line-height: 2em;
}

li {
    text-align: left;
    list-style-position: inside;
}

#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: auto;
    width: 100%;
}

#rules-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rules {
    /* text-align: center; */
    /* text-align: center;
    list-style-position: inside; */
    /* margin: auto; */
}

#rules-div {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    /* justify-content: center; */
}

#rules-div ol {
    /* text-align: center; */
}

#start-btn {
    margin-top: 24px;
    color: white;
}

#hard {
    color: white;
}

.btn, .btn-large, .btn-small, .btn-flat {
    border-radius: 6px;
    line-height: 0px;
    text-transform: none;
    color: black;
}

#easy, #med, #hard {
    margin-bottom: 24px;
}

#guesses {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

#level-div {
    max-width: 400px;
    position:relative;
    height:100%;
    margin: auto;
    display: none;
}

#level-div button {
    min-width: 300px;
}

aside {
    border-radius: 6px;
    /* display: none; */
}

#btn-div {
    display: none;
}

footer .container {
    text-align: center;
    color: #000;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#restart-btn, #rules-btn {
    margin: 0px 16px 16px 0px;
}

.brand-logo > h6 {
color: black;
padding: 10px 0px 0px 16px;
}

/* Keyboard Formatting */
.guess-count{
    color: black;
    font-size: 14px;
}
.key-el, .key-pressed {
    width: 40px;
    height: 40px;
    margin: 2px;
    border: none;
}
#key-div {
    margin: 40px 0px 40px 0px;
}

/* display none for stuff to be hidden on load */

/* 

button not click: .key-el
button been click: .key-pressed

the empty blocks:
guess-el




*/