:root {
    --light-blue: #40c4ff;
    --teal: #b2dfdb;
    --light-blue: #0277bd;
    --amber: #ffd740;
    --purple: #aa00ff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

h2,
#guesses h1 {
    font-size: 32px;
}

ol {
    line-height: 2em;
}

li {
    text-align: left;
    list-style-position: inside;
}

.nav-wrapper {
    height: fit-content;
    border-top: 5px solid #000;
    background-image: linear-gradient(140deg,
            rgba(255, 215, 64, 1),
            rgba(178, 223, 219, 1),
            rgba(64, 196, 255, 1),
            rgba(2, 119, 189, 1),
            rgba(170, 0, 255, 1));
}

.brand-logo h2 {
    color: #000;
    padding-left: 10%;
    margin: 5% auto;
}

#start img {
    margin: auto;
}

#rules-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#rules-div {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

#game-container-div {
    display: none;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 70vw;
    padding: 10px;
}

#corpus-footnote {
    font-size: 12px;
}

#start-btn {
    margin-top: 24px;
    color: #000;
}

#hard {
    color: white;
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
    border-radius: 6px;
    text-transform: none;
    color: black;
}

.btn:active {
    background-color: var(--purple) !important;
}

#easy,
#med,
#hard {
    margin-bottom: 24px;
}

#guesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
}

#level-div {
    display: none;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* max-width: 400px; */
    position: relative;
    height: 100%;
}

#level-div img {
    float: right;
}

#level-select {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

#level-div button {
    min-width: 300px;
}

aside {
    /* border-radius: 6px; */
    display: none;
    flex-direction: column;
    width: 20vw;
}

aside h5 {
    margin: auto;
}

#top-10 {
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
}

#btn-div {
    display: none;
}

footer .container {
    text-align: center;
    color: #000;
}

.page-footer {
    background-image: linear-gradient(140deg,
            rgba(255, 215, 64, 1),
            rgba(178, 223, 219, 1),
            rgba(64, 196, 255, 1),
            rgba(2, 119, 189, 1),
            rgba(170, 0, 255, 1));
}

#footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-logos img {
    margin: 5px;
}

#wordnik-img {
    padding: 12px;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#team-narwhal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#team-narwhal a {
    margin: 10px;
}

.footer-copyright p {
    color: #fff;
}

#main-aside-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

main {
    flex: 1 0 auto;
    flex-wrap: wrap;
    margin: 0 auto;
}

#rules-btn {
    margin: 0px 0px 0px 8px;
}

.brand-logo>h6 {
    color: black;
    padding: 10px 0px 0px 16px;
}

#volume-btn {
    border: 1x solid 000;
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin: 12px 24px 12px 0px;
    padding-top: 5px;
}

#volume-btn img {
    max-width: 24px;
}

#restart-btn,
#rules-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#wordbutton {
    background-color: #fff;
    min-width: 75%;
    margin: 5px;
}

/* Keyboard Formatting */
.guess-count {
    color: black;
    font-size: 14px;
}

.key-el,
.key-pressed {
    width: 40px;
    height: 40px;
    margin: 2px;
    border: none;
    border-radius: 4px;
}

/* Oddly, this stops the default teal color from showing when the button is active. */
button:focus {
    background-color: rgb(213, 213, 213);
}

.key-el {
    background-color: rgb(213, 213, 213) !important;
}

.key-el:hover {
    background-color: rgb(198, 196, 196)
}

.key-wrong {
    color: #cbcbcb;
    background-color: #ebebeb !important;
}

.key-correct {
    background-color: #ffd740 !important;
}

.guess-el {
    border-bottom: 4px solid black;
    min-height: 50px;
    display: inline-block;
    margin: 10px;
    min-width: 50px;
}

#guess-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#key-div {
    margin: 40px 0px 80px 0px;
    width: 50vw;
}

/* Result Screen Text Formatting */
.winMsg,
.sorryMsg {
    font-weight: bold;
}

.revealWord {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #aa00ff;
    margin: 0 0 8px 0;
}

.figure-speech {
    color: #aa00ff;
    margin: 0;
    font-size: 14px;
}

.revealDef {
    color: #aa00ff;
    margin: 0 0 30px 0;
}